ul {

}

li {

}

span {

}

a {

}

h1 {

}

h2 {

}

img {
    #articleImage{
    width: 50vh;
    height: 35vh;
    padding: 10px;
    float: left;
}


}
#articleContent{
    margin-top: 2vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
}