footer {

    background-color: rgb(0, 0, 0);
    color: #c7bb8f;
    flex-direction: column;
  }
  
  .footdiv-icon{
    height:1vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 7vh;
    padding-right: 7vh;
    font-size: 5vh;
  }
  .footdiv{
    height:1vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    
    
  }
  
  #footer-icon1,#footer-icon2,#footer-icon3,#footer-icon4{
    color: #c7bb8f;
  }
  
  