html{
    body{
       
        background-color:#dcd2ad;
      
    }
}
.carousel{
    background-color:#c0c6cc;
    
}


.maindiv{
    min-height:100vh;
    background-color:#afafaf;
    padding-top: 0;
  }

.entryImage{
    width: 50vh;
    height: 35vh;
    padding-right: 10px;


}
.entryContent{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.entryTitle{

}
.entryGallerie{
    display: flex;
    flex-wrap: wrap;
}

.card-img-top{
    width: 300px;
    height: 200px;
    align-items: center;
}
.carousel-item{
align-items: center;
}