html{
    scroll-behavior: smooth;
    body{
        background-color:#dcd2ad;
    }
    .row{
        margin-left: 0;
    }
}
.loginButton{
    margin-left: 10.5vh;
    margin-right: 10.5vh;
    border: block 0;
}
.carousel{
    background-color:#c0c6cc; 
}
.maindiv{
    min-height:100vh;
    background-color:#afafaf;
    padding: 0;
  }
.entryImage{
    width: 50vh;
    height: 35vh;
    padding-right: 1vh;
    float: left;
}
.entryContent{
    margin-top: 2vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
// .entryTitle{
// }
.entryGallerie{
    display: flex;
    flex-wrap: wrap;
}
.card-img-top{
    width: 30vh;
    height: 20vh;
    align-items: center;
    padding: auto;
    margin-right: 5vh;
    margin-left: 5vh;
}
.carousel-item{
align-items: center;
}