.navbar{
    display: flex;
    justify-content: space-between;
    background-color:black;
    font-size: 2vh;
    padding: 1vh;

  }

  #navbar-link{
    a{
      color:black;
      text-decoration: none;
    }
  }
  #navbar{
    a{
      color:black;
      text-decoration: none;
    }
  }
  .nav-item{
    padding: 1vh;
  }

.dashboard{
    width: 15vh;
}

.loginButton{
  border: none;
  border-radius: 0.5vh;
}

.mainBtn {
    background-color: $color1;
    padding: 0 1rem;
    border: black, 2px,  solid;
    border-radius: 2em;
}

.dropdown-list {
    background-color: $color1 !important;
}

.bg-maincolor{
    background-color: $color1;
}
