nav svg{
  //margin-right: 8.3vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color:black;
    font-size: 2vh;
    padding: 1vh;

  }

  #navbar-link{
    a{
      color:#c7bb8f;
      text-decoration: none;
    }
  }
  #navbar{
    a{
      color:#c7bb8f;
      text-decoration: none;
    }
  }
  .nav-item{
    padding: 1vh;
  }

.dashboard{
    width: 15vh;
}
