.profilewindow{
    border-style: solid black;
}
.userInformation{
    border: solid 5px;
    display: flex;
    align-items: center;
}
.userImage{
    font-size: 10vh;
    display: flex;
    justify-content: flex-start;
    padding: 2vh;
    
}