@import 'imports';
@import 'variables';

@import 'header';
@import 'navbar';
@import 'main';
@import 'footer';
@import 'profile';
@import 'colorpalette/paletteV2';//there is the more paletteV1-V4

* {
    margin: 0;
    padding: 0;
}
.bttimg{
  border-radius: 50%;
  position:fixed;
  bottom:2vh;
  right:2vh;
}
@media (max-width: 700px) {
  .leftdiv{
    display:none;
  }
  .rightdiv{
    display:none;
  }

}
@media (max-width: 700px) {
  .leftdiv{
    display:none;
  }
  .rightdiv{
    display:none;
  }
}


//back to top button
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  background-image: linear-gradient(to right, #1e130c 0%, #9a8478  51%, #1e130c  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  cursor: pointer;
  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    background-color: #555;
}
}

#more {display: none;}

//back to top button end

