@import 'imports';
@import 'variables';

@import 'header';
@import 'navbar';
@import 'main';
@import 'footer';
@import 'profile';
@import 'colorpalette/paletteV2';//there is the more paletteV1-V4

* {
    margin: 0;
    padding: 0;
}
.bttimg{
  border-radius: 50%;
  position:fixed;
  bottom:2vh;
  right:2vh;
}
@media (max-width: 700px) {
  .leftdiv{
    display:none;
  }
  .rightdiv{
    display:none;
  }

}
@media (max-width: 700px) {
  .leftdiv{
    display:none;
  }
  .rightdiv{
    display:none;
  }
}
