@import 'imports';
@import 'variables';

@import 'header';
@import 'navbar';
@import 'main';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    body{
        background-color: rgb(255, 255, 255);
    }
}
footer {
  text-align: center;
  display:flex;
  background-color: rgb(146, 146, 146);
  color: white;
<<<<<<< Updated upstream
  justify-content: center;
=======
  
>>>>>>> Stashed changes
}

.footdiv{
  flex:1;
  height:60px;
  padding:50px;
}

.maindiv{
  height:100vh;
  background-color:gray
}

.navbar{
  background-color:rgb(85, 85, 85)
}
