// RGBA color palette (alpha channel for opacity)
$color1: rgba(199,187,143,1);
$color2: rgba(208,215,221,1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(236, 238, 226, 1);
$color5: rgba(243, 243, 243, 1);
$colorMainDiv: rgba(228, 226, 226,  1); //#e4e2e2
$colorFooterGrey: #c5c5c5;

$bg-carousel: rgba(230, 230, 230, 1);
$color-dark: rgb(44, 44, 44);

$bg-carousel: rgba(223, 233, 241, 1);
/*$colorCarousel:
$color*/

.carousel-control-next-icon {
    color: $color1;
}

//body-entry
html{
  scroll-behavior: smooth;
  body{
      background-color:$colorMainDiv;
      background: linear-gradient(to bottom, #f3f3f3, #cecece, #c5c5c5);
  }
}

.maindiv{
  min-height:100vh;
  background-color:$colorMainDiv;
}
.card{
  background-color: #cacaca;
  border: none;
}
//body-end


//navbar-entry
#letterD,#letterE,#letterV,#letterSlash,#letterL,#letterI,#letterF,#letterE2,#curlyOpen,#curlyClose{
  stroke: $color2;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background: rgb(199,187,143);
  background: radial-gradient(circle, rgba(199,187,143,1) 12%, rgba(220,210,173,1) 52%, rgba(232,226,180,1) 78%, rgba(243,243,243,1) 97%);
}
#navbar-link{
  a{
    color:$color3;
    text-decoration: none;
  }
}
#navbar{
  a{
    color:$color3;
    text-decoration: none;
  }
}

.loginButton{
  margin-left: 10.5vh;
  margin-right: 10.5vh;
  border: block 0;;
}

.dashboard{
  width: 15vh;
}
//navbar-end

#article{
 list-style: none;
}
.maindiv{
  min-height:100vh;
  background-color:$color2;
}

//Article Posts
.entryImage{
  width: 50vh;
  height: 35vh;
  padding-right: 1vh;
  float: left;
}
.entryContent{
  margin-top: 2vh;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


// Gallery
.entryGallerie{
  display: flex;
  flex-wrap: wrap;
}

.card-img-top{
  width: 30vh;
  height: 20vh;
  align-items: center;
  padding: auto;
  margin-right: 5vh;
  margin-left: 5vh;
}


//footer-entry
footer {
  background-color: $color1;
  color: $color3;
  flex-direction: column;
  background: $color1;
  background: linear-gradient(90deg, $colorFooterGrey 0%, $colorFooterGrey 5%, $color1 22%, $color1 78%, $colorFooterGrey 95%, $colorFooterGrey 100%);
  //background: linear-gradient(90deg, $color2 0%, $color2 5%, $color1 22%, $color1 78%, $color2 95%, $color2 100%);

}
#footer-icon1,#footer-icon2,#footer-icon3,#footer-icon4{
  color: $color3;
}
//footer-end
