$color1: #eba3f9;
$color2: #b59b2e;
$color3: #e5e5e6;
$color4: #b6f9aa;
$color5: #232323;
//navbar-entry

#letterD,#letterE,#letterV,#letterSlash,#letterL,#letterI,#letterF,#letterE2,#curlyOpen,#curlyClose{
    stroke: $color1;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color:$color1;
  
}

#navbar-link{
  a{
    color:$color4;
    text-decoration: none;
  }
}

#navbar{
  a{
    color:$color4;
    text-decoration: none;
  }
}

.dashboard{
  width: 15vh;
}
//navbar-end
//body-entry
html{
  body{
      background-color:$color4;
  }
}

.maindiv{
  min-height:100vh;
  background-color:$color4;
}
//body-end
//footer-entry
footer {
  background-color: $color1;
  color: $color4;
  flex-direction: column;
}

.footdiv-icon{
  height:1vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 7vh;
  padding-right: 7vh;
  font-size: 5vh;
}
.footdiv{
  height:1vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  
  
}

#footer-icon1,#footer-icon2,#footer-icon3,#footer-icon4{
  color: $color4;
}

//footer-end